body {
    background-color: lightskyblue;
}

#canvas {
    background-color: white;
    border-color: dodgerblue;
    border-style: ridge;
    border-width: 20px;
}

div {
    margin-bottom: 20px;
}

input {
    background-color: white;
    border-color: dodgerblue;
    border-style: ridge;
    border-width: 2px;
}

button {
    background-color: white;
    border-color: dodgerblue;
    border-style: ridge;
    border-width: 2px;
}